@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

:root {
    /* colors */
    --yellow: #fcda68;
    --violet: #8e7bef;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

p {
    margin-block: 0;
}

h1,
h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* utilities */

.flex {
    display: flex;
}

.width__center {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0;
}

/* .navbar {
    position: styick;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
} */

/* .navbar__container {
    position: relative;
} */

.menu {
    width: 100%;
    height: 100%;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--violet);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu__link {
    padding: .5rem;
    font-weight: 700;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px white;
}

.menu__icon {
    background-color: var(--violet);
    color: var(--yellow);
    position: absolute;
    padding: 5px;
    right: 0;
    display: inline-block;
    font-size: x-large;
    border-radius: 20px;
}

/* Home */

.home {
    padding: 5rem 20px;
}

.home__text {
    text-align: center;
}

.text__color {
    color: var(--violet);
}

.text__color2 {
    color: #979797;
}

.home__icons {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.home__logo {
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    color: #f9f5f2;
    margin: 30px 15px;
    padding: 7px;
    border-radius: 25px;
    font-size: 20px;
}

.home__img {
    margin: 0 auto;
    display: block;
}

.home__contact {
    display: flex;
    justify-content: center
}

.home__button {
    width: 250px;
    padding: 15px;
    margin-top: 30px;
    background-color: var(--violet);
    color: #f9f5f2;
    border: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
}

/* Experience */

.experience {
    background-color: var(--yellow);
    padding: 15px 15px;
}


.experience__works__block {
    display: flex;
    flex-direction: column;
}

.experience__works__block>h4 {
    margin-block: 0;
}

/* Habilidades */

.experience__habilidades__logos {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.experience__habilidades__logos__img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.a {
    padding: 10px 25px 30px;
    width: 300px;
}
.a > p {
    text-align: center;
}


/* Portfolio */

.portfolio {
    padding: 20px;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio__block {
    padding: 0 15px;
    width: auto;
    height: auto;
    color: var(--violet);
    font-weight: 400;
    font-size: medium;

}

.portfolio__block>img {
    width: 100%;
    height: auto;
}

/* Contact */

.contact {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.contact__block {
    padding-top: 50px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.contact>h2 {
    width: 100%;
}

.contact__block>img {
    width: auto;
    height: auto;
}

@media (min-width: 768px) {
    html {
        font-size: 25px;
    }
    
    h1 {
        font-size: 3em;
        text-align: left;
    }

    .home__block {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 5fr 1fr;
    }

    .home__image {
        grid-column: 3 / 2;
        grid-row: 1 / 4;
    }

    .home__text {
        text-align: left;
        margin-block: 0;
    }

    img {
        width: auto;
        height: 100%;
    }
}